html {
    font-size: 16px;
    font-family: $font-primary;
    scroll-behavior: smooth;
}

body {
    background-color: $bg-body;
    color: $color-text;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: $section-margin;
}

a {
    color: $color-text;

    &:hover {
        color: $secondary-color;
    }
}


.btn-arrow {
    --size: 87px;
    --icon-size: 35px;
    --border-radius: 29px;
    --border-width: 3px;
    padding: 25px;
    width: calc(var(--size) - var(--border-width) * 2);
    height: calc(var(--size) - var(--border-width) * 2);
    border-radius: var(--border-radius);
    background-color: $bg-footer;
    position: relative;
    @include flex-centered;

    &:before {
        content: "";
        position: absolute;
        width: calc(100% + var(--border-width));
        height: calc(100% + var(--border-width));
        border-radius: calc(var(--border-radius) + 1px);
        background-image: $background-gradient;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.icon-svg {
    height: var(--icon-size);
    width: var(--icon-size);
}

.logo {
    max-width: 195px;
}

.container {
    max-width: 1278px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.text-gradient {
    background-clip: text;
    color: transparent;
    background-image: $background-gradient;
}

/*!important*/
.show {
    display: block !important;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

/**/

.svg-sprite {
    visibility: hidden;
    height: 0;
    width: 0;
}

::selection {
    color: $primary-color;
    background-color: $bg-footer;
}
