///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #222;
$secondary-color: #f00;

$body-bg: rgb(64, 0, 255);



body {
    background-color: $body-bg;
    background-color: var(--body-bg);
}